.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.hover-link:hover {
  color: #007bff; /* Change this to your desired hover color */
  text-decoration: underline; /* Optional: add underline on hover */
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.left-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.card-wrapper {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 400px;
  z-index: 2;
}

.form-fields {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}



/* Custom Styles */

/* Ensure Sidebar takes full height */
.vh-100 {
  height: 100vh !important;
}

/* Content Area Scroll */
.content-area {
  padding: 10px;
  overflow-y: auto;
}

/* Sticky Header */
.sticky-top {
  height: 80px;
  z-index: 1030;
}

/* Sidebar link hover effect */
.sidebar-link:hover {
  background-color: #444; /* Darker shade on hover */
  color: #fff;
}

/* Active sidebar link */
.sidebar-link.active {
  background-color: #333; /* Darker background for active link */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  
  
}

@media (max-width: 768px) {
  .sidebar {
    display: none; /* Hide sidebar on small screens */
  }
  .sidebar.open {
    display: block; /* Show when open */
    z-index: 999; /* Above other elements */
    position: fixed;
    left: 0;
    width: 220px;
    height: 100vh;
  }
}



